Source: libdbus-java
Section: libs
Priority: optional
Maintainer: Matthew Johnson <debian@matthew.ath.cx>
Build-Depends: debhelper (>= 4.0.0), devscripts, libdbus-1-dev (>= 0.60), pkg-config, dbus-1-utils, dbus (>= 0.60), tetex-bin, latex2html, java-compiler, java5-runtime
Standards-Version: 3.6.2

Package: libdbus-java
Architecture: any
Depends: java5-runtime, ${shlibs:Depends}
Suggests: java-virtual-machine
Description: Java Bindings for DBus (Java code)
   Bindings for the Java language for DBus IPC system.
